@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
html,body{
    scroll-behavior: smooth;
    height: 100%;
}
.links{
    background-color: #054b28;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links ul{
    display: flex;
    list-style: none;
    gap: 1.8rem;
}
.links ul li a{
    text-decoration: none;
    color: #e2faf0;
}
header {
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: all .6s ease-in-out;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .2rem 1rem;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo img{
   height: 100%;
}
.logo-description{
    border-left: .3rem solid #194605;
    height: 5rem;
    width: 13rem;
    padding: 4%;
}
.logo-description h3{
    font-size: 1.5rem;
    color: #194605;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: bold;
}
.logo-description p{
    font-size: .6rem;
    color: #194605;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-family: bold;
}
nav{
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 5.3rem;
    left: 0;
    z-index: 1000;
    background-color: rgb(250, 248, 248);
}
nav ul{
    list-style: none;
    width: 90%;
    margin: 0 auto;
}
nav ul li{
    background-color: #e0e0dd;
    margin: .1rem 0;
    width: 100%;
    padding: .9rem 1.5rem;
}
#nested_links{
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #438a25;
    font-weight: 400;
    font-style: regular;
    display: inline-block;
    width: 100%;
    height: 100%;
}
nav ul li:hover{
    background-color: #cdcdcb;
    transition: all .5s ease-in-out;
}
li .carricular_link_btn,li .join_link_btn,li .about_link_btn{
    display: none;
    transition: all .8s ease-in-out;
}
li:hover .carricular_link_btn{
    display: block;
    
} 
li:hover .join_link_btn{
    display: block;
    
} 
li:hover .about_link_btn{
    display: block;
}
#navBar{
  display: none;
}
.menu{
    display: block;
}
.menu i{
    font-size: 1.5rem;
    color: #194605;
}
.menu .fa-close{
    display: none;
}
/*hero section bellow*/
.hero_section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./imgs/bg1.jpg");
    background-size: cover;
    background-position: center;
    gap: 3rem;
}
.hero_section h1{
    color: #f3f7f5;
    font-size: 1.5rem;
    font-family: "Roboto", serif;
    font-weight: bold;
    padding: .4rem;
    outline: #04a00b;
    background-color: rgba(2, 103, 26, 0.595);
}
.hero span{
    font-size: 1.5rem;
    color: #054b28;
    display: inline-block;
    padding: .4rem;
    width: 100%;
    background-color: rgba(244, 249, 249, 0.595);
    
}
.hero{
    width: 60%;
    text-align: center;
}
.important_btns{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 65%;
}
.important_btns button{
    padding: .5rem;
    color: #194605;
    border: 2px solid #054b28;
    font-weight: bold;
    font-style: bold;
    border-radius: 5px;
    opacity: .9;
}
.important_btns button:hover{
    background-color: #054b28;
    border: 2px solid #fff;
    color: #fff;
    transition: all .3s ease-in-out;
}
/*visions and goals section*/
.vision{
    width: 100%;
    margin-top: 6rem;
    padding:0 4rem;
}
.vision #btn{
    padding: .5rem 1.5rem;
    border: 2px solid #04a00b;
    border-radius: 5px;
    color: #194605;
    font-weight: bold;
    margin-bottom: 3rem;
    transition: all .3s ease-in-out;
}
.vision #btn:hover,.ad_btn:hover{
    background-color: #137444;
    color: #fff;
    border: 2px solid #fff;
   
}
.vision #btn:hover span,.ad_btn:hover span{
    padding-left: .5rem;
    transition: all .3s ease-in-out;
}
.vision_description,.slider{
    width: 100%;
    margin: 1rem auto;
}
.vision_description h2{
    text-align: center;
    color: #04a00b;
}
.vision_description p{
    text-align: justify;
    margin: .8rem 0;
}

/*slide show bellow*/
.slider {
    width: 20rem;;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin: 1rem auto;
    
  }
  .slider-container {
    display: flex;
    height: 100%;
    width: 20rem;
    transition: transform 0.5s ease-in-out;
  }
  .slider-container img {
    width: 20rem;
    height: 100%;
    object-fit: cover;

 }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fdfdfd;
    font-weight: bold;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1;
    background: #0383037c;
  }
  .arrow.left {
    left: 10px;
  }
  .arrow.right {
    right: 10px;
  }
  .indicators {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 6rem;
  }
  .indicator {
    width: .8rem;
    height: .8rem;
    margin: .3rem;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .indicator.active {
    background-color: #04a00b;
  }

  /*our visions and missions*/

.vision_n_mission{
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem;
    background: linear-gradient(#054b28,#137444);
    color: #93b895;
}
.our_mission h2,.our_vision h2{
    font-size: 2rem;
    text-transform: capitalize;
    color: #cbf6cd;
}
.our_mission p,.our_vision p{
    color: #abc5ab;
}
#vision_description{
    padding: 1rem;
    border: .2rem solid #82a984;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    text-align: justify;
    margin: 1rem 0;
    position: relative;
}
#mission_description{
    text-align: justify;
    margin: 1rem 0;
    border: none;
}
.our_vision{
    margin-bottom: 3rem;
}
.coma{
    position: absolute;
    top: -.5rem;
    left: 1rem;
    z-index: 100;
    background: linear-gradient(#054b28,#137444);
    width: 3rem;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}
/*why choosing daxy academy?*/
.why_choose_daxy,.Upcoming_Event{
    margin: 3rem 4rem;
}
.why_choose_daxy h2,  .Upcoming_Event h2,.vision_description h2{
    font-size: 1.5rem;
    color: #137444;
    margin-bottom: .5rem;
}
.why_choose_daxy p,.Upcoming_Event p{
    font-size: 1rem;
    color: #6d856e;
    margin-bottom: 1.3rem;
}
.description_photo, .Event{
    position: relative;
    margin-bottom: 1.5rem;
}
.description_photo img,.Event img{
    width: 100%;
    aspect-ratio: 16/9;
}
.caption h3{
    font-size: 1.5rem;
    text-align: center;
}
.caption p{
    color: #131313;
    color: #fff;
    text-align: justify;
    margin: 0 2rem;
    opacity: 0;
}
.caption {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    transition: opacity 0.8s ease-in-out; 
  }
  .description_photo{
    margin-bottom: 3rem;
  }

  .description_photo:hover .caption{
    transition: all 1s ease-in-out;
    background: rgba(2, 103, 26, 0.595);
    animation: fadeIn;
    padding: 1rem;
    height: 100%;
  }
  .description_photo:hover .caption h3{
    padding-top: 2%;
  }
  .description_photo:hover .caption p{
    opacity: 1;
    transition: all 1.5s ease-in-out;
    bottom: 10%;
  }
/*Admissions links*/
.admissions_links{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#054b28,#137444);
    padding: 6rem 4rem;
}

.admissions_links h3{
    color: #8fd2b1;
    font-size: 2rem;
}
.admissions_links .p{
    color: #54b182;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.admissions_links p span{
    color: #99d5b7;
    font-size: 1rem;
}
.admissions_links p{
    text-align: justify;
}
.admissions_links a{
    color: #2ff638;
    display: inline-block;
    margin: .5rem 0;
}
.ad_btn{
    background-color: #adddc5;
    border: 2px solid #fff;
    padding: .5rem 1.5rem;
    border-radius: .2rem;
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #0f5f37;
    transition: all .3s ease-in-out;
}
  /*Upcoming events*/
  .Upcoming_Event h2{
    font-size: 1.5rem;
  }
  .Upcoming_Event h3{
    color: #fff;
    width: 100%;
    font-size: 1rem;
    padding: .6rem 1.2rem;
  }
  .Upcoming_Event p{
    margin-bottom: 2rem;
  }
  .capt{
    position: absolute; 
    bottom: 0;
    left: 0;
    margin:0 auto;
    width: 99%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #137444;
  }

  .Event{
    margin-bottom: 2.5rem;
  }

  /*footer styles*/
  footer{
    width: 100%;
  }
  .social_media_links{
    background: linear-gradient(#137444,#054b28);
    width: 100%;
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    text-align: center;
  }
  .social_media_links h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
  }
  .icons .fa{
    color: #fff;
    font-size: 3rem;
    margin: 1rem .5rem;
    transition: all .3s ease-in-out;
  }
  .icons .fa:hover{
    color:#a8c6aa;
    font-size: 2.8rem;
  }
  .label{
    background-color: #054b28;
    color: #b9b9b9;
    font-size: .8rem;
    text-align: center;
    padding: 1rem 1rem;
  }


  @keyframes fadeIn{
    0%{
        opacity: 0;
        
    }
    25%{
        opacity: .1;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
  }
  @media (min-width: 768px){

  }

  @media (min-width: 992px){
    .menu{
        display: none;
    }
    #navBar{
      display:flex;
      margin: 0 auto;
    }
    #navBar > ul{
      display: flex;
      list-style: none;
    }
    #navBar > ul li{
      font-size: 100%;
      padding-left: 1.5rem;
    }
  #navBar > ul li a{
    text-decoration: none;
    transition: all .5s ease-in-out;
  }
  #navBar > ul li a:hover{
    color: #3c5347;
    font-weight: bold;
  }

  .feature ul{
      display: none;
    }

    .feature:hover ul{
      display: block;
      list-style: none;
      transition: all .4s ease-in-out;
    }
    .feature #carricular_link,.feature #join_link,.feature #about_link{
      position: absolute;
      top: 60%;
      background-color: #f3f7f5;
      margin-left: -1rem;

    }
    .feature #carricular_link li,.feature #join_link li,.feature #about_link li{
      margin-bottom: .5rem;
      padding-top: .4rem;
      padding-right: 1rem;
      padding-left: 1rem;
      width: 100%;
    }
    .feature #carricular_link li a{
      display: inline-block;
      width: 100%;
    }
    #carricular_link a:hover,.feature #join_link a:hover,.feature #about_link a:hover{
      color: #054b28;
      font-weight: bold;
    }
    .links{
        justify-content: flex-start;
        padding-left: 12rem;
    }
    header{
        padding: .2rem 6rem;
        justify-content: space-between;
    }
    .hero{
      height: 20%;
      margin: 1.5rem 0;
      width: 65%;
      padding: 0;
    }
    .hero_section h1,.hero_section span{
        font-size: 3rem;
        width: 100%;
    }
    .hero_section h1{
      padding:1rem 3rem;
    }
    .important_btns{
        flex-direction: row;
        justify-content: space-between;
    }
    .important_btns button{
        width: 30%;
        height: 3.5rem;
        font-size: 1.2rem;
    }
    .vision_description h2{
        text-align: left;
        font-size: 2rem;
    }
    .vision_description p{
        font-size: 1.5rem;
        color:#7c7d7c ;
    }
    .vision_n_mission{
        flex-direction: row;
        gap: 3rem;
    }
    .vision_n_mission h2{
        font-size: 2rem;
    }
    #mission_description p, #vision_description p{
        font-size: 1.5rem;
    }
    .coma{
      font-size: 3rem;
      gap: 1rem;
      top: -1.5rem;
      left: 3.5rem;
      width:15%;
    }
    #vision_description{
      padding: 4.5rem ;
    }
  .our_mission, .our_vision{
    width: 50%;
  }
  .our_mission h2, .our_vision h2{
    margin-bottom: 3rem;
  }
  .why_choose_daxy h2{
    font-size: 2rem;
  }
  .why_choose_daxy p{
    font-size: 1.5rem;
  }
  .why_us{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  .description_photo img{
    aspect-ratio: 4/3;
  }
  .admissions_links{
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .admissions_desc,admissions_btn{
    width: 50%;
  }
  .admissions_desc h3{
    font-size: 2rem;
    color: #eff1ef;
  }
  .admissions_desc  p span,.admissions_desc  p a{
    font-size: 1.5rem;
  }
  .upcoming{
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
  }
  .upcoming img{
    aspect-ratio: 4/3;
  }

  .Upcoming_Event h2{
    font-size: 2rem;
  }
  .Upcoming_Event p{
    font-size: 1.5rem;
  }
  .social_media_links{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .wrapper .vision{
    width: 60%;
    margin-top: 0;
  }
  .wrap_slider{
    margin-top: 4rem;
  }
  }



  @media (min-width: 1200px){
    
  }



